<div class="container">
    <div class="row">
        <div class="searchSection col-12 px-0 shadow rounded">
            <input class="form-control form-control-lg" type="search" placeholder="Search" [(ngModel)]="search">
            <i *ngIf="!search" class="bi bi-search"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <a [routerLink]="[user.id]" *ngFor="let user of users" class="list-group-item list-group-item-action">
                    <app-user-card [name]="user.name" [itemsNumber]="29"
                        [image]="user.image">
                    </app-user-card>
                </a>
            </div>
        </div>
    </div>
</div>