.userPhoto {
    width: 200px;
    border-radius: 50%;
}
.card-body {
    a {
        text-decoration: none;
        color: var(--bs-success);
        font-size: 24px;
        &:hover{
            filter: contrast(4);
            text-decoration: underline;
        }
    }
}

