<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img width="90" src="../../../assets/images/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="user" class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="bi bi-house"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','users']" routerLinkActive="active">
            <i class="bi bi-people"></i>
            Users
          </a>
        </li>

      </ul>
      <ul class="navbar-nav d-flex flex-row justify-content-around justify-content-md-end">
        <li *ngIf="user" class="nav-item d-flex align-items-center">
          <a class="nav-link">
            <app-user-dropdown></app-user-dropdown>
          </a>
        </li>
        <ng-container *ngIf="!user">
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" [routerLink]="['/','login']" routerLinkActive="active">
              <i class="bi bi-box-arrow-in-right"></i>
              Login
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link"[routerLink]="['/','signup']" routerLinkActive="active">
              <i class="bi bi-person-plus"></i>
              Signup
            </a>
          </li>
        </ng-container>
      </ul>

    </div>
  </div>
</nav>