<div class="dropdown">
    <a class="dropdown-toggle p-2" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-gear text-light"></i>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="d-flex align-items-center dropdown-item">
            <i class="bi bi-person-bounding-box me-2"></i>
            <span>My Profile</span>
        </a>
        <a class="d-flex align-items-center dropdown-item">
            <i class="bi bi-clock-history me-2"></i>
            <span>History</span>
        </a>
        <a class="d-flex align-items-center dropdown-item">
            <i class="bi bi-box-arrow-in-left me-2"></i>
            <span>Logout</span>
        </a>
    </ul>
</div>