.user {
    img {
        width: 100px;
        border-radius: 50%;
    }
}
.quantity {
    color: var(--bs-success);
    i {
        font-size: 26px;
        margin-right: 0.5rem;
    }
    b {
        font-size: 26px;
    }
}