<section class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center order-lg-0 order-1">
            <div class="w-75">
                <h1 class="text-center">Sign in</h1>
                <h4 class="text-center">Don't have an account? <a class="link-success mx-2 pointer-event" [routerLink]="['/','signup']">Signup</a></h4>
                <form class="d-flex flex-column justify-content-center" #form="ngForm" (ngSubmit)="onLogin(form)">
                    <!-- Email -->
                    <input class="form-control my-4 shadow-sm" type="email" placeholder="Email" name="email" ngModel required email>

                    <!-- Password -->
                    <input class="form-control mb-4 shadow-sm" type="password" placeholder="Password" name="password" ngModel required>

                    <button class="btn btn-success">SIGN IN</button>
                </form>
            </div>
        </div>
        <div class="loginCover col-lg-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
            <img src="../../../assets/images/logo.png" alt="scoutX logo">
        </div>
    </div>
</section>