<div *ngIf="(history?.length)" class="container--custom">
    <div class="wrapper shadow">
        <h1 class="fw-bold">Your History</h1>
        <hr>
        <ul class="sessions">
            <li *ngFor="let item of history">
                <div class="time">{{item.date|date:'medium'}}</div>
                <p>{{item.type + ' by '}}
                    <b [ngClass]="item.type==='Add Balance'?'text-success':'text-danger'">
                        {{item.amount|currency:'LE'}}
                    </b>
                </p>
            </li>
        </ul>
    </div>
</div>

<app-notfound-component *ngIf="!history?.length" [text]="'there is no history yet'">
</app-notfound-component>