<div *ngIf="(history?.length)" class="container--custom">
    <div class="wrapper shadow">
        <h1 class="fw-bold">Your History</h1>
        <hr>
        <ul class="sessions">
            <li>
                <div class="time">{{date|date:'medium'}}</div>
                <p>How is it already 9:00? Just how??? 🤯🤯</p>
            </li>
            <li>
                <div class="time">{{date|date:'medium'}}</div>
                <p>How is it already 9:00? Just how??? 🤯🤯</p>
            </li>
            <li>
                <div class="time">{{date|date:'medium'}}</div>
                <p>How is it already 9:00? Just how??? 🤯🤯</p>
            </li>
        </ul>
    </div>
</div>

<app-notfound-component *ngIf="!history?.length" [text]="'there is no history yet'">
</app-notfound-component>