<div *ngIf="userInfo" class="container mt-3">
    <app-user-info-card [name]="userInfo?.user?.name" [imageUrl]="userInfo.user.image" [email]="userInfo?.user?.email"
        [phone]="userInfo?.user?.phone">
    </app-user-info-card>


    <div class="row mt-5">
        <h1>{{userInfo?.user?.name?.split(' ')[0]}}'s Store</h1>
        <hr class="mb-5">
        <div *ngFor="let item of userInfo?.createdItems" class="col-md-4 col-12 my-3">
            <app-item-card [item]="item"></app-item-card>
        </div>
    </div>

    <div class="row mt-5">
        <h1>{{userInfo?.user?.name?.split(' ')[0]}}'s Shared Items</h1>
        <hr class="mb-5">
        <div *ngFor="let item of userInfo?.shared_items" class="col-md-4 col-12 my-3">
            <app-item-card [item]="item"></app-item-card>
        </div>
    </div>
</div>