<div class="container mt-3">
    <app-user-info-card [name]="'Hossam Sherif'" [email]="'husam287@hotmail.com'" [phone]="'01129000383'">
    </app-user-info-card>


    <div class="row mt-5">
        <h1>{{'Hossam'}}'s Store</h1>
        <hr class="mb-5">
        <div class="col-md-4 col-12 my-3">
            <app-item-card></app-item-card>
        </div>
        <div class="col-md-4 col-12 my-3">
            <app-item-card></app-item-card>
        </div>
        <div class="col-md-4 col-12 my-3">
            <app-item-card></app-item-card>
        </div>
        <div class="col-md-4 col-12 my-3">
            <app-item-card></app-item-card>
        </div>
    </div>
</div>