<div *ngIf="item" class="card card--rounded card--scale w-100 overflow-hidden shadow">
    <div class="d-flex p-2 bg-success" [ngClass]="isMyItem? 'justify-content-between ':'justify-content-center'">
        <div *ngIf="isMyItem" class="actions d-flex align-items-center">
            <button (click)="onDelete()" class="btn btn-sm btn-outline-dark border-0"><i
                    class="bi bi-trash"></i></button>
            <button *ngIf="isHidden" (click)="onShow()" class="btn btn-sm btn-outline-light border-0"><i
                    class="bi bi-eye-slash"></i></button>
            <button *ngIf="!isHidden" (click)="onHide()" class="btn btn-sm btn-outline-light border-0"><i
                    class="bi bi-eye"></i></button>
        </div>
        <div class="quantity text-light d-flex align-items-center justify-content-center">
            <i class="bi bi-box"></i>
            <b>{{item.quantity}}</b>
        </div>
    </div>
    <img *ngIf="item?.image" [src]="item.image" class="card-img-top" alt="item photo">
    <div class="card-body d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
            <h5 class="card-title text-success ">{{item.name}}</h5>
            <small [routerLink]="['/','users',item.creator_id]" class="text-secondary pointer-event"><i
                    class="bi bi-person-bounding-box"></i>
                {{item.creatorName}}
            </small>
        </div>
        <p class="card-text">
            {{item.description}}
        </p>
        <div class="price d-flex justify-content-center my-2">
            <b class="me-2">EGP</b>
            <b class="text-success h5">{{item.price|currency:' '}}</b>
        </div>
        <a *ngIf="!isMyItem" (click)="buy()" class="btn btn-success fw-bold">BUY NOW!</a>
    </div>
</div>